name: Deploy
on:
  push:
    branches:
      - v1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Pull and Restart
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/gamematch/backend
            git pull origin v1
            sudo systemctl restart gunicorn
